/*CSS DOCUMENT*/
/*
verde-vonheld : #C5F409
*/
body {
	background-color: #f7f7f7;
	font-family: Arial, Verdana, sans-serif;
	margin: 0 ;
	padding: 0;
}
p {
	font: normal 12px Arial,Verdana,sans-serif;
}
fieldset {
	border: none;
}
#header {
	background-color: #266CFF;
	clear: both;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header h1 {
	font: normal 1em Arial, Verdana, sans-serif;
	margin: 25px 0 25px 10px;
}
#menu {
	/*background-color: #f7f7f7;*/
	background-color: white;
	border: 1px solid #d6d6d6;
	clear: both;
	display: block;
	margin: 15px auto 0;
	overflow: hidden;
	padding; 0;
	width: 960px;
	
	border-radius: 3px;
}
#menu ul {
	display: block;
	margin: 15px 0 10px 5px;
	overflow: hidden;
	padding: 0;
}
#menu ul li{
	display: inline-block;
	margin: 0 5px 0 0;
	text-decoration: none;
}
#menu ul li a{
	/*background-color: #d0dfff;*/
	/*border: 1px solid #7ba6ff;*/
	color: black;
	display: block;
	font: normal bold 14px Arial, Verdana, sans-serif;
	float: left;
	padding: 0 10px;
	text-decoration: none;
	
	border-radius: 3px;
}
#content {
	background-color: white;
	border: 1px solid #D6D6D6;
	display: block;
	margin: 10px auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
	
	border-radius: 3px;
}

/*****  CONTEUDO *******/
.index {
	display: block;
	overflow: hidden;
}
.index .button {
	border-radius: 5px;
	display: inline-block;
	font: normal bold 14px Arial,Verdana,sans-serif;
	margin: 10px 10px 0 10px;
	padding: 10px;
	text-decoration: none;
	/*text-shadow: -1px 0 0 rgba(0, 0, 0, 0.7);*/
}
.green {
	color: white;
	background-color: #C5F409;
	background-image: -moz-linear-gradient(top,#c5f409,#83a206);
	border: 1px solid #4e6104;
}
.blue {
	color: white;
	background-color: #227BF5;
	background-image: -moz-linear-gradient(top,#227BF5,#074dab);
	border: 1px solid #042f6a;
}
.index h2,.form h2 {
	background-color:  #266cff;
	/*background-image: -moz-linear-gradient(top, #266cff, #002d8c);*/
	color: white;
	font: normal bold 16px Arial,Verdana,sans-serif;
	margin: 0;
	padding: 10px 0 10px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.index table {
	clear: both;
	display: block;
	margin: 10px;
}
table {
	border-collapse:collapse;
}
 th, td {
	border: 1px solid #002d8c;
}
.index table tr th {
	background-color: #266CFF;
	font: normal bold 15px Arial,Verdana,sans-serif;
	padding: 5px;
}
.index table th a,.index table th.actions{
	color: white;
	text-decoration: none;
}
.index td {
	border: 1px solid #002d8c;
	padding: 5px 5px;
}
.altrow {
	background-color: #f2f6ff;
}
.actions {
	border-left: 1px solid #002d8c;
}
.index p {
	margin: 0 auto;
	text-align: center;
}
.paging {
	font: normal 15px Arial,Verdana,sans-serif;
	margin: 10px 0;
	text-align: center;	
}
#footer {
	background-color: #266CFF;	
	display: block;
	clear: both;
	height: 50px;
	width: 100%;
}
/***  FORM ADD ***/
.input {
	margin-bottom: 10px;
}
.form fieldset {
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin: 10px 10px 0 10px;
	padding: 5px;
}
.form label {
	display: block;
}
.form input[type = 'text'] {
	height: 30px;
	font: normal 16px Arial, Verdana, sans-serif;
	padding-left: 5px;
	width: 80%;	
}
.form select {
		height: 30px;
		width: 40%;	
}
.form select  {
	font: normal 16px Arial, Verdana, sans-serif;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 2px;
}
.form textarea {
	width: 80%;
}
/*BOTAO SUBMIT*/
.submit {
	display: inline-block;
	margin: 0 38%;
	overflow: hidden;
}
.submit input {
	float: left;
}
.submit input {
	 border-radius: 0;
	 display: block;
	 font: normal bold 14px Arial, Verdana, sans-serif;
	 height: 40px;
	 margin: 0 auto 10px;
	min-width: 100px;
}
.submit .cancel {
	float: left;
	font-size: 12px;
	margin: 15px 0 0 5px;
}
/*CAMPOS DE DATA*/
.date select {
	width: 120px;
}
/*CAMPOS DE RADIO*/
.radio fieldset {
	border-top: 1px solid black;
	margin: 0;
}
.radio legend {
	display: block;
	padding: 10px;
}
.radio input {
	display: block;
	float: left;
}
/*CAMPOS DE UPLOAD*/
#files-div fieldset {
	border-top: 1px solid black;
	margin: 0;
}
#files-div  legend {
	display: block;
	padding: 10px;
} 
#files-div input[type="file"] {
	display: block;
	width: 100px;
}
#file-adder em {
	color: #666666;
	font-size: 12px;
}
#file-adder em:hover {
	color: black;
	text-decoration: underline;
}
/*FLASH MESSAGE*/
#flashMessage {
	background-color: #DEDEDE;
	border: 1px solid black;
	clear: both;
	display: block;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
